* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.page-container {
  margin: auto;
  max-width: 375px;
}

.header-section {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1919d;
}
.header-section .logo-img {
  margin-left: 20px;
  display: block;
  width: 40px;
  height: 40px;
}
.header-section .admin-btn-img {
  margin-right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.8s;
}
.header-section .admin-btn-img:hover {
  width: 40px;
  height: 40px;
}

.event-box {
  display: none;
  position: relative;
  justify-content: center;
  margin: 25px auto;
  border: solid 1px #edf0f2;
  border-radius: 25px;
  box-shadow: 5px 10px 18px #888888;
  width: 300px;
  height: 380px;
}
.event-box .envent-box-content {
  position: absolute;
  width: 100%;
}
.event-box .envent-box-content .event-box-date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
  color: #f1919d;
  margin: 10px 15px 0 15px;
}
.event-box .envent-box-content .event-box-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
  margin: 5px 15px 5px 15px;
}
.event-box .envent-box-content .event-box-content {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0;
  color: #888888;
  margin: 0px 5px 0 15px;
}
.event-box .envent-box-content .event-box-description {
  position: relative;
  margin: auto;
  margin-top: 5px;
  width: 100%;
  height: 200px;
}
.event-box .envent-box-content .event-box-description .event-box-description-img {
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: fill;
}
.event-box .envent-box-content .event-box-description .event-box-description-text {
  display: none;
  position: absolute;
  background-color: rgba(241, 145, 157, 0.65);
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.event-box .envent-box-content .event-box-description .event-box-description-text .event-description-text {
  margin: 20px;
}
.event-box .envent-box-content .event-box-description .register-event-container {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: #f1919d;
}
.event-box .envent-box-content .event-box-description .register-event-container .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
}
.event-box .envent-box-content .event-box-description .register-event-container .register-form .register-item {
  text-align: center;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}
.event-box .envent-box-content .event-box-description .register-event-container .register-form .bttn-register {
  margin: 13px auto;
  border: solid #f1919d;
  border-radius: 50px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0;
  color: #f1919d;
  text-align: center;
  cursor: pointer;
}
.event-box .envent-box-content .event-box-description .register-event-container .register-form .bttn-register:active {
  color: #FFFF;
  background-color: #f1919d;
}
.event-box .envent-box-content .event-box-description .show-box {
  display: flex;
}
.event-box .envent-box-content .event-box-description:hover .event-box-description-text {
  display: flex;
}
.event-box .event-box-buttons {
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}
.event-box .event-box-buttons .event-button {
  display: none;
  margin: 5px auto;
  border: solid #f1919d;
  border-radius: 50px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0;
  color: #f1919d;
  text-align: center;
  cursor: pointer;
}
.event-box .event-box-buttons .event-button:active {
  color: #FFFF;
  background-color: #f1919d;
}
.event-box .event-box-buttons .show-button {
  display: block;
}

.events-section .hero-container .hero-container-title {
  margin: 20px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
  text-align: center;
}
.events-section .hero-container .hero-container-title .title-decoration {
  display: block;
  margin-left: 25px;
  color: #f1919d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F5F4F9;
}

.return {
  margin: 15px;
  cursor: pointer;
}
.return .fas {
  font-size: 20px;
  color: #555555;
}

.banner {
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
}
.banner .img {
  width: 50%;
}
.banner .title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #555555;
  text-align: center;
  line-height: 33px;
  margin: 0;
}

.form {
  background: white;
  width: 90%;
  margin: 25px auto;
  border-radius: 15px;
}
.form .box {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  box-shadow: 1px 2px 11px -9px grey;
  border-radius: 20px;
}
.form .box .title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #838080;
  line-height: 33px;
  margin: 0;
}
.form .box .inp {
  border: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #9c9c9c;
  line-height: 33px;
  margin: 0;
  outline: none;
  border-radius: 20px;
}
.form .forgot-password {
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #c4c4c4;
  line-height: 33px;
  padding: 15px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
}
.button .login {
  background: #EE929D;
  width: 250px;
  height: 50px;
  border: 1px solid #EE929D;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none;
}

.event-constainer .event-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.event-constainer .event-title {
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
}
.event-constainer .event-date {
  margin: 5px 15px 5px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0;
  color: #f1919d;
}
.event-constainer .event-description {
  margin: 0 15px 5px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
}
.event-constainer .event-participants-button {
  margin: 13px auto;
  border: solid #f1919d;
  border-radius: 50px;
  height: 30px;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0;
  color: #f1919d;
  text-align: center;
  cursor: pointer;
}
.event-constainer .event-participants-button:active {
  color: #FFFF;
  background-color: #f1919d;
}

.participants-container {
  display: none;
}
.participants-container .participants-title {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
  text-align: center;
  color: #f1919d;
}
.participants-container .participants-card {
  margin: 10px auto;
  padding: 15px;
  border: solid #f1919d;
  border-radius: 25px;
  width: 280px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
}

/*# sourceMappingURL=styles.css.map */
