<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7up+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
  <!-- encabezado de la sección -->
  <header class="header-section">
    <a href="../../index.html"><img src="../assets/logo.svg" class="logo-img"></a>
    <a href="../templates/login_admin.html"><img src="../assets/admin-img.svg" alt="botón de administrador" class="admin-btn-img"></a>
  </header>
  <section class="event-constainer">
    <img src="#" class="event-img">
    <h1 class="event-title"></h1>
    <p class="event-date"></p>
    <p class="event-description"></p>
    <div class="event-participants-button" id="event-button">Participants</div>
  </section>
  <section class="participants-container">
    <h2 class="participants-title">Participantes</h2>
  </section>
  <script src="../scripts/get_participants.js"></script>
</body>
</html>